### <font color="green">Ejercicio</font>
python 3.6

In [ ]:
# 1.- Leer el archivo Countries.csv en un dataframe --> ok
# 2.- Imprimir una lista de los países que no tienen linea costerá
# y no estan en la EU, junto con sus puntos más altos, 
# ordene de menor a mayor sus puntos más altos.

In [32]:
# 1.- Leer el archivo Countries.csv en un dataframe
import pandas as pd
f = open('Countries.csv','r')
countries = pd.read_csv(f)
countries

                   country coastline  highest   EU
0                  Albania       yes     2764   no
1                  Andorra        no     2942   no
2                  Austria        no     3798  yes
3                  Belarus        no      345   no
4                  Belgium       yes      694  yes
5   Bosnia and Herzegovina        no     2386   no
6                 Bulgaria       yes     2925  yes
7                  Croatia       yes     1831  yes
8                   Cyprus       yes     1952  yes
9           Czech Republic        no     1603  yes
10                 Denmark       yes      171  yes
11                 Estonia       yes      318  yes
12                 Finland       yes     1324  yes
13                  France       yes     4810  yes
14                 Germany       yes     2962  yes
15                  Greece       yes     2919  yes
16                 Hungary        no     1014  yes
17                 Iceland       yes     2110   no
18                 Ireland       yes     1041  yes
19                   Italy       yes     4810  yes
20                  Kosovo        no     2656   no
21                  Latvia       yes      311  yes
22           Liechtenstein        no     2599   no
23               Lithuania       yes      294  yes
24              Luxembourg        no      560  yes
25               Macedonia        no     2764   no
26                 Moldova        no      430   no
27              Montenegro       yes     2534   no
28             Netherlands       yes      321  yes
29                  Norway       yes     2469   no
30                  Poland       yes     2499  yes
31                Portugal       yes     1993  yes
32                 Romania       yes     2544  yes
33                  Serbia        no     2169   no
34                Slovakia        no     2655  yes
35                Slovenia       yes     2864  yes
36                   Spain       yes     3479  yes
37                  Sweden       yes     2104  yes
38             Switzerland        no     4634   no
39                  Turkey       yes     5137   no
40                 Ukraine       yes     2061   no
41          United Kingdom       yes     1344  yes

In [30]:
#Imprimir una lista de los países que no tienen linea costerá
# y no estan en la EU, junto con sus puntos más altos, 
# ordene de menor a mayor sus puntos más altos.
print(countries[(countries.coastline == 'no') & (countries.EU == 'no')].sort_values(by='highest') ) #python 3
#print countries[(countries.coastline == 'no') & (countries.EU == 'no')].sort_values(by='highest')  #python 2

                   country coastline  highest  EU
3                  Belarus        no      345  no
26                 Moldova        no      430  no
33                  Serbia        no     2169  no
5   Bosnia and Herzegovina        no     2386  no
22           Liechtenstein        no     2599  no
20                  Kosovo        no     2656  no
25               Macedonia        no     2764  no
1                  Andorra        no     2942  no
38             Switzerland        no     4634  no

<hr>

In [ ]:
# Encontrar el punto medio más alto de los países en la UE y no en la UE,
# Encontrar el punto medio más alto de los países con y sin línea costera
# Nota: Cuando hay más de una "consulta" sólo se ve el último resultado.
# Intente usar print
# Consejo: ¡Puedes usar groupby!

In [1]:
import pandas as pd

In [2]:
f = open('Countries.csv','r')
countries = pd.read_csv(f)
countries

                   country coastline  highest   EU
0                  Albania       yes     2764   no
1                  Andorra        no     2942   no
2                  Austria        no     3798  yes
3                  Belarus        no      345   no
4                  Belgium       yes      694  yes
5   Bosnia and Herzegovina        no     2386   no
6                 Bulgaria       yes     2925  yes
7                  Croatia       yes     1831  yes
8                   Cyprus       yes     1952  yes
9           Czech Republic        no     1603  yes
10                 Denmark       yes      171  yes
11                 Estonia       yes      318  yes
12                 Finland       yes     1324  yes
13                  France       yes     4810  yes
14                 Germany       yes     2962  yes
15                  Greece       yes     2919  yes
16                 Hungary        no     1014  yes
17                 Iceland       yes     2110   no
18                 Ireland       yes     1041  yes
19                   Italy       yes     4810  yes
20                  Kosovo        no     2656   no
21                  Latvia       yes      311  yes
22           Liechtenstein        no     2599   no
23               Lithuania       yes      294  yes
24              Luxembourg        no      560  yes
25               Macedonia        no     2764   no
26                 Moldova        no      430   no
27              Montenegro       yes     2534   no
28             Netherlands       yes      321  yes
29                  Norway       yes     2469   no
30                  Poland       yes     2499  yes
31                Portugal       yes     1993  yes
32                 Romania       yes     2544  yes
33                  Serbia        no     2169   no
34                Slovakia        no     2655  yes
35                Slovenia       yes     2864  yes
36                   Spain       yes     3479  yes
37                  Sweden       yes     2104  yes
38             Switzerland        no     4634   no
39                  Turkey       yes     5137   no
40                 Ukraine       yes     2061   no
41          United Kingdom       yes     1344  yes

In [22]:
# Encontrar el punto medio más alto de los países en la  no UE  maximo
countries.groupby('EU').max()

            country coastline  highest
EU
no          Ukraine       yes     5137
yes  United Kingdom       yes     4810

In [23]:
# Encontrar el punto medio más alto de los países en la  no UE  promedio
countries.groupby('EU').mean()

         highest
EU
no   2533.333333
yes  1968.148148

In [15]:
# Encontrar el punto medio más alto de los países en la  no UE 
countries[(countries.highest==max(countries[countries.EU == 'no'].highest))]

   country coastline  highest  EU
39  Turkey       yes     5137  no

In [10]:
# Encontrar el punto medio más alto de los países en la UE
countries[(countries.highest==max(countries[countries.EU == 'yes'].highest))]

   country coastline  highest   EU
13  France       yes     4810  yes
19   Italy       yes     4810  yes

In [25]:
# Encontrar el punto medio más alto de los países  sin y con línea costera promedio
countries.groupby('coastline').mean()

           highest
coastline
no         2182.50
yes        2163.75

In [26]:
# Encontrar el punto medio más alto de los países  sin y con línea costera maxima
countries.groupby('coastline').max()

                  country  highest   EU
coastline
no            Switzerland     4634  yes
yes        United Kingdom     5137  yes

In [16]:
# Encontrar el punto medio más alto de los países con línea costera
countries[(countries.highest==max(countries[countries.coastline == 'yes'].highest))]

   country coastline  highest  EU
39  Turkey       yes     5137  no

In [17]:
# Encontrar el punto medio más alto de los países  sin línea costera
countries[(countries.highest==max(countries[countries.coastline == 'no'].highest))]

        country coastline  highest  EU
38  Switzerland        no     4634  no

<hr>

<hr>
<h3>Felipe Medel Latorre</h3>
<h3><a href="mailto:felipemedelatorre@hotmail.com">felipemedelatorre@hotmail.com</a></h3>