In [1]:
import pandas as pd

In [2]:
f = open('./store.csv','r')
store = pd.read_csv(f)

In [3]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [4]:
def tipo(df,ty):
    stack_a=[]
    for dfs in df:
        if dfs == ty:
            stack_a.append(1)
        else:
            stack_a.append(0) 
    return stack_a

In [5]:
store.replace({'StoreType': {"a": int(1),"b": int(2),"c": int(3),"d": int(4)}},  inplace = True)
store.replace({'Assortment': {"a": int(1),"b": int(2),"c": int(3)}},  inplace = True)

In [6]:
store.dtypes

Store                          int64
StoreType                      int64
Assortment                     int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [7]:
def pasar_int(df):
    stack=[]
    for dfs in df:
        if pd.isnull(dfs):
            stack.append(0)##none = 0
        else:
            stack.append(int(dfs)) 
    return stack

In [8]:
store['CompetitionDistance_int']=pasar_int(store.CompetitionDistance)
store['CompetitionOpenSinceMonth_int']=pasar_int(store.CompetitionOpenSinceMonth)
store['CompetitionOpenSinceYear_int']=pasar_int(store.CompetitionOpenSinceYear)
store['Promo2SinceYear_int']=pasar_int(store.Promo2SinceYear)
store['Promo2SinceWeek_int']=pasar_int(store.Promo2SinceWeek)

In [9]:
store.drop('CompetitionDistance', axis=1, inplace=True)
store.drop('CompetitionOpenSinceMonth', axis=1, inplace=True)
store.drop('CompetitionOpenSinceYear', axis=1, inplace=True)
store.drop('Promo2SinceWeek', axis=1, inplace=True)
store.drop('Promo2SinceYear', axis=1, inplace=True)

In [10]:
store.replace({'PromoInterval': {"Feb,May,Aug,Nov": int(0), "Jan,Apr,Jul,Oct":int(1) ,"Mar,Jun,Sept,Dec":int(2)}},  inplace = True)

In [11]:
store['PromoInterval_int']=pasar_int(store.PromoInterval)
store.drop('PromoInterval', axis=1, inplace=True)

In [12]:
f = open('./train.csv','r')
test = pd.read_csv(f)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
test.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [14]:
test['Open_int']=pasar_int(test.Open)
test.drop('Open', axis=1, inplace=True)

In [15]:
test.replace({'StateHoliday': {"0": int(0),"a": int(1),"b": int(2),"c": int(3)}},  inplace = True)

In [16]:
def pasar_holiday(df):
    stack_ce=[]
    stack_p=[]
    stack_e=[]
    stack_ch=[]
    for holiday in df: 
        if int(holiday) == 0:
            stack_ce.append(1)
            stack_p.append(0)
            stack_e.append(0)
            stack_ch.append(0)
            continue
        if int(holiday) == 1:
            stack_ce.append(0)
            stack_p.append(1)
            stack_e.append(0)
            stack_ch.append(0)
            continue
        if int(holiday) == 2:
            stack_ce.append(0)
            stack_p.append(0)
            stack_e.append(1)
            stack_ch.append(0)
            continue
        if int(holiday) == 3:
            stack_ce.append(0)
            stack_p.append(0)
            stack_e.append(0)
            stack_ch.append(1)
            continue
        else:
            stack_ce.append(1)
            stack_p.append(0)
            stack_e.append(0)
            stack_ch.append(0)
            continue
    return stack_ce,stack_p,stack_e,stack_ch

In [17]:
test['StateHoliday_cerrado_int'],test['StateHoliday_public_int'], test['StateHoliday_Easter_int'],test['StateHoliday_Christmas_int']=pasar_holiday(test.StateHoliday)

In [18]:
test.drop('StateHoliday', axis=1, inplace=True)

In [19]:
from datetime import datetime
def año(df):
    stack_año=[]
    for fechas in df: 
        if fechas == 0:
            stack_año.append(0)
        else:
            fecha_año = fechas[:4]
            stack_año.append(int(fecha_año))
    return stack_año

def mes(df):
    stack_mes=[]
    for fechas in df:
        if fechas == 0:
            stack_mes.append(0)
        else:
            fecha_mes = fechas[5:]
            fecha_mes=fecha_mes[:2]
            if(fecha_mes !=""):
                stack_mes.append(int(fecha_mes))
            else:
                stack_mes.append(0)
    return stack_mes
def dia(df):
    stack_dia=[]
    for fechas in df:
        if fechas == 0:
            stack_dia.append(0)
        else:
            fecha_dia = fechas[8:]
            fecha_dia=fecha_dia[:2]
            if(fecha_dia !=""):
                stack_dia.append(int(fecha_dia))
            else:
                stack_dia.append(0)
    return stack_dia

In [20]:
test['año']=año(test.Date)
test['mes']=mes(test.Date)
test['dia']=dia(test.Date)

In [21]:
test.drop('Date', axis=1, inplace=True)

In [22]:
final = store.merge(test, on='Store')

In [29]:
final.keys()

Index(['Store', 'StoreType', 'Assortment', 'Promo2', 'CompetitionDistance_int',
       'CompetitionOpenSinceMonth_int', 'CompetitionOpenSinceYear_int',
       'Promo2SinceYear_int', 'Promo2SinceWeek_int', 'PromoInterval_int',
       'DayOfWeek', 'Sales', 'Customers', 'Promo', 'SchoolHoliday', 'Open_int',
       'StateHoliday_cerrado_int', 'StateHoliday_public_int',
       'StateHoliday_Easter_int', 'StateHoliday_Christmas_int', 'año', 'mes',
       'dia'],
      dtype='object')

In [37]:
final['Sales'].describe()

count    1.017209e+06
mean     5.773819e+03
std      3.849926e+03
min      0.000000e+00
25%      3.727000e+03
50%      5.744000e+03
75%      7.856000e+03
max      4.155100e+04
Name: Sales, dtype: float64

In [38]:
def Sales_rango(sales):
    stack_ventas=[]
    for ventas in sales: 
        if ventas < 3727:
            stack_ventas.append(0)
        elif (ventas > 3727 and ventas < 5744):
            stack_ventas.append(1)
        elif (ventas > 5744 and ventas < 7856):
            stack_ventas.append(2)
        else:
            stack_ventas.append(3)
    return stack_ventas

In [39]:
final['Sales_rango'] = Sales_rango(final['Sales'])

In [43]:
final.to_csv('final.csv')